/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <41 39 40 38 37 36 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 11 23 35>;
            hold-trigger-on-release;
        };

        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <36 37 38 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41 0 12 24>;
            flavor = "tap-preferred";
        };

        CWT: CWT {
            compatible = "zmk,behavior-hold-tap";
            label = "CWT";
            bindings = <&kp>, <&caps_word>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 12 13 14 15 16 17 18 19 20 24 25 26 27 28 29 30 31 32 36 37 38 39 40 41 8 9 10 11 20 21 22 23 32 33 34 35 9 10 11 21 22 23 33 34 35>;
            hold-trigger-on-release;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
        };

        GTH: GTH {
            compatible = "zmk,behavior-hold-tap";
            label = "GTH";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41>;
            hold-trigger-on-release;
        };

        OTH: OTH {
            compatible = "zmk,behavior-hold-tap";
            label = "OTH";
            bindings = <&kp>, <&none>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41>;
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&GTH ESCAPE TAB      &kp Q            &kp W            &kp F              &kp P          &kp B    &kp J  &kp L      &kp U              &kp Y    &kp SEMICOLON  &kp MINUS
&kp DELETE           &kp A            &kp R            &HML LEFT_SHIFT S  &kp T          &kp G    &kp M  &kp N      &HMR LEFT_SHIFT E  &kp I    &kp O          &kp SQT
&CWT LEFT_CONTROL 0  &GTH LEFT_WIN Z  &GTH LEFT_ALT X  &kp C              &kp D          &kp V    &kp K  &kp H      &kp COMMA          &kp DOT  &kp FSLH       &kp ENTER
                                                       &mo 2              &kp BACKSPACE  &mo 1    &none  &kp SPACE  &none
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&trans      &trans  &trans    &kp UP_ARROW  &kp LS(LC(NUMBER_1))  &kp LS(LC(NUMBER_2))    &OTH CARET 0        &GTH AMPS N7              &GTH ASTERISK N8            &GTH LEFT_PARENTHESIS N9     &OTH RIGHT_PARENTHESIS 0  &GTH PLUS EQUAL
&kp DELETE  &trans  &kp LEFT  &kp DOWN      &kp RIGHT             &trans                  &OTH EXCLAMATION 0  &GTH AT NUMBER_4          &GTH HASH N5                &GTH DOLLAR NUMBER_6         &GTH PERCENT NUMBER_0     &GTH PIPE NON_US_BACKSLASH
&trans      &trans  &trans    &trans        &trans                &kp CAPSLOCK            &GTH TILDE GRAVE    &GTH LEFT_BRACE NUMBER_1  &GTH LEFT_BRACKET NUMBER_2  &GTH RIGHT_BRACKET NUMBER_3  &OTH RIGHT_BRACE 0        &trans
                              &trans        &trans                &trans                  &trans              &trans                    &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp F12  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10    &trans        &trans        &trans        &trans        &trans        &trans
&kp F11  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5     &trans        &trans        &trans        &trans        &trans        &trans
&trans   &trans  &trans  &trans  &trans  &trans     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
                         &trans  &trans  &trans     &trans        &trans        &trans
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
